/* Dark mode colors. */
:root {
    --sl-color-accent-low: #11111b;
	--sl-color-accent-high: #89b4fa;
	--sl-color-white: #CDD6F4;
	--sl-color-gray-5: #7f849c;
	--sl-color-gray-6: #11111b;
	--sl-color-black: #11111b;
}